h1 {
    /* color: blueviolet; */
    color: black;
    background-color: rgb(155, 202, 221);
    margin-bottom: 30px;
    font-size:33px;
    font-weight: 700;
    line-height: 2.4;
    text-align: center;
    padding-top: 14px;
    border-top: 27px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-style: solid;
    border-top-color:rgb(139, 178, 196);
    
}